logging_directory = /tmp

controller1_name = My EtherRain
controller1_ip = 192.168.0.43
controller1_port = 80
controller1_username = admin
controller1_password = pass
controller1_type = etherrain8

controller1_zone1_name = Front Garden (central)
controller1_zone1_id = 1
controller1_zone1_duration = 10m

controller1_zone2_name = Front Garden (east)
controller1_zone2_id = 2
controller1_zone2_duration = 8m

controller1_zone3_name = Front Garden (west)
controller1_zone3_id = 3
controller1_zone3_duration = 10m

controller1_zone4_name = Back Garden (central)
controller1_zone4_id = 4
controller1_zone4_duration = 10m

controller1_zone5_name = Back Garden (south)
controller1_zone5_id = 5
controller1_zone5_duration = 10m

controller1_zone6_name = Back Garden (garden bed)
controller1_zone6_id = 6
controller1_zone6_duration = 10m

controller1_zone7_name = Pagola
controller1_zone7_id = 7
controller1_zone7_duration = 6m




watering_days = tuesday,friday
watering_start_time = 23:00

weatherstation1_name = Roof Station
weatherstation1_type = wunderground
weatherstation1_stationid = ISOUTHAU123
weatherstation1_api = abcdefgh1234567

weather_threshold_rain_days_to_look_back = 7
weather_threshold_total_rain_amount = 3mm
weather_threshold_current_rain_amount = 1mm
weather_threshold_rain_days_to_look_ahead = 7
weather_threshold_pop = 40
weather_threshold_wind_speed = 20kph
weather_threshold_min_temp = 12C

weather_multiplier_max_temp = 38C
weather_multiplier_value = 1.3
weather_multiplier_days_to_look_ahead = 4
